{% extends '@EzPlatformAdminUiBundle/themes/admin/ui/field_type/preview/content_fields.html.twig' %}

{% trans_default_domain 'fieldtypes_preview' %}

{% block ezimage_field %}
    {% apply spaceless %}
        {% if not ez_field_is_empty( content, field ) %}
            {% set imageAlias = ez_image_alias( field, versionInfo, parameters.alias|default( 'original' ) ) %}
            {% set src = imageAlias ? asset( imageAlias.uri ) : "//:0" %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-field-preview ez-field-preview--ezimage')|trim}) %}
            <div {{ block( 'field_attributes' ) }}>
                <div class="ez-field-preview__image-wrapper">
                    <div class="ez-field-preview__image">
                        <img src="{{ src }}">
                    </div>
                    <div class="ez-field-preview__image-meta">
                        <table>
                            <thead>
                            <tr>
                                <th>{{ 'ezimage.image_file_properties'|trans|desc('Image file properties') }}:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ 'ezimage.file_name'|trans|desc('File name') }}:</td>
                                <td>{{ field.value.fileName }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ezimage.size'|trans|desc('Size') }}:</td>
                                <td>{{ field.value.fileSize|ez_file_size( 1 ) }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ezimage.alternative_text'|trans|desc('Alternative text') }}:</td>
                                <td>{{ field.value.alternativeText }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ezimage.master_dimensions'|trans|desc('Master dimensions') }}:</td>
                                <td>{{ 'ezimage.width_and_height'|trans({'%width%': field.value.width, '%height%': field.value.height})|desc('Width: %width%px height: %height%px') }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'ezimage.ratio'|trans|desc('Ratio') }}:</td>
                                <td>{{ (field.value.width/field.value.height)|round(2) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ez-field-preview__actions-wrapper">
                    <a class="ez-field-preview__action ez-field-preview__action--preview" href="{{ src }}" target="_blank">
                        <svg class="ez-icon ez-icon--medium ez-icon--light">
                            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#open-newtab"></use>
                        </svg>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endapply %}
{% endblock %}